<div class="form-login-main text-center">
    <form class="form-login" (submit)="login()">
        
        <h1 class="h3 mb-3 font-weight-normal">Inloggen</h1>
        
        <div *ngIf="errorState" class="alert alert-danger" role="alert">
            {{ this.errorMessage }}
        </div>
        
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input [ngClass]="errorState == true ? 'is-invalid' : ''" type="email" id="inputEmail" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="credentials.email" required autofocus>
        
        <label for="inputPassword" class="sr-only">Wachtwoord</label>
        <input [ngClass]="errorState == true ? 'is-invalid' : ''" type="password" id="inputPassword" class="form-control" name="password" placeholder="Wachtwoord" [(ngModel)]="credentials.password" required autofocus>

        <div class="row">
            <div class="col-xs-12 col-md-6"><button class="btn btn-primary btn-block" value="Register" routerLink="/register">Registeren</button></div>
            <div class="col-xs-12 col-md-6"><button class="btn btn-success btn-block" type="submit">Inloggen</button></div>
        </div>
        
        <p class="mt-5 mb-3 text-muted">&copy; OrderApp 2018</p>
    </form>
</div>