<app-navbar></app-navbar>

<div class="container-fluid">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:15px; margin-top:15px;">
            <button type="button" routerLink="/tables" class="btn btn-default" ><span class="fa fa-arrow-left"></span> Ga terug</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="editTableForm" (ngSubmit)="saveTable()">
              <fieldset class="form-group">
                  <input
                      formControlName="number"
                      placeholder="Nummer"
                      class="form-control"
                      type="text"                       
                      [ngClass]="{ 'is-invalid help-block': submitted && f.number.errors }" />
                      <div *ngIf="submitted && f.number.errors" class="help-block">
                          <div style="color: #dc3545" *ngIf="f.number.errors.required">Tafelnummer is verplicht!</div>
                      </div>
              </fieldset>
              <button class="btn btn-primary pull-xs-right" type="submit">
                  Opslaan
              </button>
            
            </form>
          </div>
      </div>
    </main>
</div>