<app-navbar></app-navbar>

<div class="container-fluid">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:15px; margin-top:15px;">
            <button type="button" routerLink="/products" class="btn btn-default" ><span class="fa fa-arrow-left"></span> Ga terug</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="editProductForm" (ngSubmit)="saveProduct()">
              <fieldset class="form-group">
                  <input
                      formControlName="name"
                      placeholder="Naam"
                      class="form-control"
                      type="text" />
              </fieldset>
              <fieldset class="form-group">
                  <input
                      formControlName="brand"
                      placeholder="Merk"
                      class="form-control"
                      type="text" />
              </fieldset>
              <fieldset class="form-group">
                  <input
                      formControlName="description"
                      placeholder="Beschrijving"
                      class="form-control"
                      type="text" />
              </fieldset>
              <fieldset class="form-group">
                <input
                    formControlName="imagePath"
                    placeholder="Afbeelding"
                    class="form-control"
                    type="text" />
              </fieldset>
              <fieldset class="form-group">
                <input
                    formControlName="alcoholPercentage"
                    placeholder="Alcoholpercentage"
                    class="form-control"
                    type="text" />
              </fieldset>
              <fieldset class="form-group">
                    <select class="form-control selector" (change)="onCategorySelected($event)">
                            <option value="{{product?.category._id}}" selected>{{product?.category.title}}</option>
                            <option *ngFor="let c of categories" value="{{c?._id}}">{{c?.title}}</option>
                    </select>
              </fieldset>
              <fieldset class="form-group">
                <input
                    formControlName="price"
                    placeholder="Prijs"
                    class="form-control"
                    type="number" />
              </fieldset>
              <button class="btn btn-primary pull-xs-right" type="submit">
                  Opslaan
              </button>
            
            </form>
          </div>
      </div>
    </main>
</div>