<app-navbar></app-navbar>

<div class="container-fluid">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:15px; margin-top:15px;">
            <button type="button" routerLink="/products" class="btn btn-default" ><span class="fa fa-arrow-left"></span> Ga terug</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="editProductForm" (ngSubmit)="saveProduct()">
              <fieldset class="form-group">
                  <input
                      formControlName="name"
                      placeholder="Naam"
                      class="form-control"
                      type="text"
                      [ngClass]="{ 'is-invalid help-block': submitted && f.name.errors }"
                      />
                      <div *ngIf="submitted && f.name.errors" class="help-block">
                          <div style="color: #dc3545" *ngIf="f.name.errors.required">Naam is verplicht!</div>
                      </div>
              </fieldset>
              <fieldset class="form-group">
                  <input
                      formControlName="brand"
                      placeholder="Merk"
                      class="form-control"
                      type="text"                      
                      [ngClass]="{ 'is-invalid help-block': submitted && f.brand.errors }" />
                      <div *ngIf="submitted && f.brand.errors" class="help-block">
                          <div style="color: #dc3545" *ngIf="f.brand.errors.required">Merknaam is verplicht!</div>
                      </div>
              </fieldset>
              <fieldset class="form-group">
                  <input
                      formControlName="description"
                      placeholder="Beschrijving"
                      class="form-control"
                      type="text"
                      [ngClass]="{ 'is-invalid help-block': submitted && f.description.errors }" />
                      <div *ngIf="submitted && f.description.errors" class="help-block">
                          <div style="color: #dc3545" *ngIf="f.description.errors.required">Beschrijving is verplicht!</div>
                      </div>
              </fieldset>
              <fieldset class="form-group">
                <input
                    formControlName="imagePath"
                    placeholder="Afbeelding"
                    class="form-control"
                    type="text"
                    [ngClass]="{ 'is-invalid help-block': submitted && f.imagePath.errors }" />
                    <div *ngIf="submitted && f.imagePath.errors" class="help-block">
                        <div style="color: #dc3545" *ngIf="f.imagePath.errors.required">Afbeelding is verplicht!</div>
                    </div>
              </fieldset>
              <fieldset class="form-group">
                <input
                    formControlName="alcoholPercentage"
                    placeholder="Alcoholpercentage"
                    class="form-control"
                    type="text"
                    [ngClass]="{ 'is-invalid help-block': submitted && f.alcoholPercentage.errors }" />
                    <div *ngIf="submitted && f.alcoholPercentage.errors" class="help-block">
                        <div style="color: #dc3545" *ngIf="f.alcoholPercentage.errors.required">Alcoholpercentage is verplicht! [0.0-9.9]</div>
                    </div>
              </fieldset>
              <fieldset class="form-group">
                    <select class="custom-select" 
                            (change)="onCategorySelected($event)" 
                            [ngClass]="{ 'is-invalid help-block': submitted && f.category.errors }">
                        <option disabled>Selecteer categorie...</option>
                        <option *ngFor="let c of categories" value="{{c._id}}" selected>{{c.title}}</option>
                    </select>
                    <div *ngIf="submitted && f.category.errors" class="help-block">
                      <div style="color: #dc3545" *ngIf="f.category.errors.required">Categorie is verplicht!</div>
                  </div>
              </fieldset>
              <fieldset class="form-group">
                <input
                    formControlName="price"
                    placeholder="Prijs"
                    class="form-control"
                    type="number"
                    [ngClass]="{ 'is-invalid help-block': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="help-block">
                        <div style="color: #dc3545" *ngIf="f.price.errors.required">Prijs is verplicht! [0.0-9.9]</div>
                    </div>
              </fieldset>
              <button class="btn btn-primary pull-xs-right" type="submit">
                  Opslaan
              </button>
            
            </form>
          </div>
      </div>
    </main>
</div>