<app-navbar></app-navbar>

<div class="container-fluid">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:10px; margin-top:10px;">
            <button type="button" class="btn btn-secondary" [routerLink]="['toevoegen']"><span class="fa fa-beer"></span> Product toevoegen</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Naam</th>
                      <th scope="col">Merk</th>
                      <th scope="col">Beschrijving</th>
                      <th scope="col">Alcoholpercentage</th>
                      <th scope="col">Category</th>
                      <th scope="col">Prijs</th>
                      <th scope="col">Opties</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor="let product of products">
                      <td>{{ product?.name }}</td>
                      <td>{{ product?.brand }}</td>
                      <td>{{ product?.description | slice:0:50 }}...</td>
                      <td>{{ (product?.alcoholPercentage / 100) | percent:'0.1-2' }}</td>
                      <td>{{ product?.category?.title }}</td>
                      <td>{{ product?.price | currency: '€ ' }}</td>
                      <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button type="button" class="btn btn-warning btn-sm" [routerLink]="['bewerken', product._id]"><span class="fa fa-edit"></span></button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product)"><span class="fa fa-trash"></span></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
    </main>
</div>