<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">
          <span class="fa fa-tachometer"></span> Dashboard          
        </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/categories">
            <span class="fa fa-list"></span> Categorieën          
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/menus">
            <span class="fa fa-list-alt"></span> Menus          
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/orders">
            <span class="fa fa-shopping-cart"></span> Bestellingen          
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/products">
            <span class="fa fa-beer"></span> Producten          
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/tables">
            <span class="fa fa-cube"></span> Tafels          
          </a>
      </li>     
    </ul>
  </div>
</nav>