<app-navbar></app-navbar>

<div class="container-fluid">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:15px; margin-top:15px;">
            <button type="button" routerLink="/categories" class="btn btn-default" ><span class="fa fa-arrow-left"></span> Ga terug</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="editCategoryForm" (ngSubmit)="saveCategory()">
              <fieldset class="form-group">
                  <input
                      formControlName="title"
                      placeholder="Titel"
                      class="form-control"
                      type="text"
                      [ngClass]="{ 'is-invalid help-block': submitted && f.title.errors }" />
                      <div *ngIf="submitted && f.title.errors" class="help-block">
                          <div style="color: #dc3545" *ngIf="f.title.errors.required">Titel is verplicht!</div>
                      </div>
              </fieldset>
              <fieldset class="form-group">
                    <select class="custom-select" (change)="onProductSelected($event)" [ngClass]="{ 'is-invalid help-block': submitted && f.product.errors }">
                            <option *ngFor="let p of products" value="{{p?._id}}">{{p?.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.product.errors" class="help-block">
                        <div style="color: #dc3545" *ngIf="f.product.errors.required">Categorie is verplicht!</div>
                    </div>
              </fieldset>
              <button class="btn btn-primary pull-xs-right" type="submit">
                  Opslaan
              </button>
            
            </form>
          </div>
      </div>
    </main>
</div>